@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #FF0000;
}

@media screen and (min-width: 640px) {
  :root {
    --foreground: #ff2fd2;
    --background: #c8dce8;
    
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-mono: var(--font-lato);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: 'Frick';
  src: url('/fonts/Frick0.3-Regular.woff2') format('woff2');
  font-weight: 400, 600;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (min-width: 640px) {
  body {
    font-size: 16px;
  }
}

p {
  margin-bottom: 1rem;
  font-family: Switzer, sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h2, h3 {
  font-family: Switzer, sans-serif;
}
h1 {
  font-family: Switzer, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}
h2 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
}
h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

a {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  text-underline-offset: 0.5rem;
  font-family: monospace;
}

strong {
  font-size: larger;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 4rem;
    font-weight: 800;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 800;
  }
  p {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

button:hover {
  cursor: pointer;
}

.scrollbar-foreground {
  scrollbar-width: 1rem;
  scrollbar-color: var(--foreground) transparent;
  border-radius: 0px;
}

.scrollbar-foreground::-webkit-scrollbar {
  width: 1rem;
  background: transparent;
}

.scrollbar-foreground::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 0px;
}

.scrollbar-foreground::-webkit-scrollbar-track {
  background: var(--foreground);
  border-radius: 0px;
}

.scrollbar-background {
  scrollbar-width: 1rem;
  scrollbar-color: var(--foreground);
  border-radius: 0px;
}

.scrollbar-background::-webkit-scrollbar {
  width: 1rem;
  background: var(--foreground);
}
.scrollbar-background::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 0px;
}
.scrollbar-background::-webkit-scrollbar-track {
  background: var(--foreground);
  border-radius: 0px;
}