@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #051134;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-mono: var(--font-lato);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: 'Frick';
  src: url('/fonts/Frick0.3-Regular.woff2') format('woff2');
  font-weight: 400, 600;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (min-width: 640px) {
  body {
    font-size: 16px;
  }
}

p {
  margin-bottom: 1rem;
}

h2, h3 {
  font-family: Frick, sans-serif;
  color: var(--foreground);
}
h1 {
  font-family: Frick, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
h2 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
}
h3 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.25;
}

a {
  color: rgb(178, 178, 255);
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

strong {
  font-size: larger;
  font-weight: 600;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

button:hover {
  cursor: pointer;
}

.scrollbar-foreground {
  scrollbar-width: 1rem;
  scrollbar-color: var(--foreground) transparent;
  border-radius: 0px;
}

.scrollbar-foreground::-webkit-scrollbar {
  width: 1rem;
  background: transparent;
}

.scrollbar-foreground::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 0px;
}

.scrollbar-foreground::-webkit-scrollbar-track {
  background: var(--foreground);
  border-radius: 0px;
}