@import "tailwindcss";

:root {
  --background: #051134;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-family: var(--font-sans);
  color: var(--foreground);
}
h1 {
  font-size: 1.5rem;
  font-weight: 400;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: monospace;
}

a {
  color: rgb(178, 178, 255);
  text-decoration: underline;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

button:hover {
  cursor: pointer;
}
